@model IEnumerable<Hospital_Managment.Models.PharmacyProduct>

@{
    Layout = "_dashboard";

    ViewData["Title"] = "Index";
}

<h1>Product List</h1>
<h2 class="text-danger">Total Products:@Model.ToList().Count()</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.productName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BestBeforeDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.shipped)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OriginFlagUrl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.productName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BestBeforeDate)
            </td>
            <td>
                    <img width="50px" height="50px" src="@Html.DisplayFor(modelItem => item.ImagePath)">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.shipped)
            </td>
            <td>
                    <img width="50px" height="50px" src="@Html.DisplayFor(modelItem => item.OriginFlagUrl)">
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.productId">Edit</a> |
               
                <a asp-action="Delete" asp-route-id="@item.productId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
