@model IEnumerable<Hospital_Managment.Models.Appointment>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Patient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doctor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nurse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Receptionist)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReasonForVisit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.Patient.FirstName) @Html.DisplayFor(modelItem => item.Patient.LastName)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Doctor.FirstName) @Html.DisplayFor(modelItem => item.Doctor.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Nurse.FirstName)  @Html.DisplayFor(modelItem => item.Nurse.LastName)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Receptionist.FirstName) @Html.DisplayFor(modelItem => item.Receptionist.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReasonForVisit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AppointmentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AppointmentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AppointmentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<partial name="_LoginPartial" />