@model IEnumerable<Hospital_Managment.Models.Doctor>

@{
    Layout = "_Layout";
    ViewData["Title"] = "Index";
}
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Doctor List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Doctors" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp; Create New Doctor
            </a>
            <h1>@ViewBag.AppD</h1>
        </div>
    </div>
    <br /><br />

    <table id="tblData" class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th> @Html.DisplayNameFor(model => model.FirstName)</th>
                <th> @Html.DisplayNameFor(model => model.LastName)</th>
                <th> @Html.DisplayNameFor(model => model.Specialty)</th>
                <th> @Html.DisplayNameFor(model => model.PhoneNumber)</th>
                <th> @Html.DisplayNameFor(model => model.Email)</th>
                <th> @Html.DisplayNameFor(model => model.Address)</th>
                <th> @Html.DisplayNameFor(model => model.Department)</th>
                <th>Actions</th>
                
            </tr>
        </thead>
    </table>
</div>

@section Scripts{
    <script src="~/js/doctors.js"></script>
}

