@*@model IEnumerable<Hospital_Managment.Models.PharmacyProduct>*@
@model Tuple<IEnumerable<PharmacyProduct>, Pagination>

@{

    Layout = "_Layout";
}



<div class="container mt-5 mb-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-10">
            <label for="page-size-select">Items per page:</label>
            <select id="page-size-select" name="page-size-select">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="20">20</option>
            </select>
          @*  <select id="sortby" name="sortby" onchange="sortProducts()">
                <option value="0">Sort by Price: Low to High</option>
                <option value="1">Sort by Price: High to Low</option>
            </select>*@
            <form  asp-action="Pharmacy">
                <input type="text" name="searchTerm" placeholder="Enter product name">
                <input type="submit" value="Search by Name">
            </form>
            
            @foreach(var item in Model.Item1){
                @if (item.quantity>0 && item.BestBeforeDate>DateTime.Now)
                {
                    <div class="row p-2 bg-white border rounded">
                        <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="@item.ImagePath"></div>
                        <div class="col-md-6 mt-1">
                            <h5>@item.productName</h5>
                            <div class="d-flex flex-row">
                                <div class="ratings mr-2"><span>Origin Country:</span></div><span><img width="15px" height="15px" class="img-fluid img-responsive rounded product-image" src="@item.OriginFlagUrl"></span>
                            </div>
                            <div class="mt-1 mb-1 spec-1"><span class="text-danger">Expiration Date<br></span>@item.BestBeforeDate</div>
                            <p class="text-justify text-truncate para mb-0">@item.description<br><br></p>
                        </div>
                        <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                            <div class="d-flex flex-row align-items-center">
                                <h4 class="mr-1">$@item.price</h4>
                            </div><i class="fa fa-star"></i>
                            <h6 class="text-success">@item.shipped</h6>
                            
                            <div class="d-flex flex-column mt-4"><a asp-action="Details" asp-route-productId="@item.productId"><button class="btn btn-primary btn-sm" type="submit">Details</button></a></div>
                          
                        </div>
                    </div>
   
                }
         

            }
            <div class="pagination-section pagination">
                <a href="?page=1&pageSize=@Model.Item2.PageSize" class="@(Model.Item2.Page == 1 ? "disabled" : "") btn">First</a>
                <a href="?page=@(Model.Item2.Page - 1)&pageSize=@Model.Item2.PageSize" class="@(Model.Item2.Page == 1 ? "disabled" : "") btn">Previous</a>
                <span>Page @Model.Item2.Page of @Model.Item2.TotalPages</span>
                <a href="?page=@(Model.Item2.Page + 1)&pageSize=@Model.Item2.PageSize" class="@(Model.Item2.Page == Model.Item2.TotalPages ? "disabled" : "") btn">Next</a>
                <a href="?page=@Model.Item2.TotalPages&pageSize=@Model.Item2.PageSize" class="@(Model.Item2.Page == Model.Item2.TotalPages ? "disabled" : "") btn">Last</a>
                

            </div>
        </div>
    </div>
</div>


    <script>
        document.getElementById("page-size-select").addEventListener("change", function () {
            window.location.href = '?page=1&pageSize=' + this.value;
        });
        document.getElementById("page-size-select").value = "@Model.Item2.PageSize"

    </script>
@*<script>
    function sortProducts() {
        var sortby = $("#sortby").val();
        var url = "/Home/Pharmacy?sortby=" + sortby;
        window.location.href = url;
    }
</script>*@



