@model Hospital_Managment.ViewModels.HospitalizationViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Hospitalization</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Cakto Pacientin</label>
                <select asp-for="PatientId" class="form-selest form-control">
              @foreach(Patient patient in Model.Patient){
                  <option value="@patient.Id">@patient.FirstName @patient.LastName</option>

              }
            </select>
              
            </div>
            <div class="form-group">
                <label class="control-label">Cakto Doktorin</label>
                <select asp-for="DoctorId" class="form-selest form-control">
                    @foreach (Doctor doctor in Model.Doctor)
                    {
                        <option value="@doctor.DoctorId">@doctor.FirstName @doctor.LastName</option>

                    }
                </select>

            </div>
            <div class="form-group">
                <label asp-for="RoomNumber" class="control-label"></label>
                <input asp-for="RoomNumber" class="form-control" />
                <span asp-validation-for="RoomNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
